<!DOCTYPE html>
<html lang="ja">
{% load static %}   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更画面</title>
    <link rel="stylesheet" href="{% static "accounts_sampleapp/css/change_password.css" %}">
</head>
<body>

    <!-- タイトル -->
    <h1>パスワード変更</h1>

    <!-- フォーム開始 -->
    <form method="POST">
        {% csrf_token %}

        <!-- フォーム全体のエラー -->
        {% if form.non_field_errors %}
            <div>
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <!-- 現在のパスワード -->
        <div>
            <label for="{{ form.old_password.id_for_label }}">現在のパスワード</label><br>
            {{ form.old_password }}

            {% if form.old_password.errors %}
                <div>
                    {% for error in form.old_password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- 新しいパスワード -->
        <div>
            <label for="{{ form.new_password1.id_for_label }}">新しいパスワード</label><br>
            {{ form.new_password1 }}

            {% if form.new_password1.errors %}
                <div>
                    {% for error in form.new_password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- 新しいパスワード(確認) -->
        <div>
            <label for="{{ form.new_password1.id_for_label }}">新しいパスワード（確認）</label><br>
            {{ form.new_password2 }}

            {% if form.new_password2.errors %}
                <div>
                    {% for error in form.new_password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- 変更ボタン -->
        <button type="submit">変更</button>
    </form>
    
</body>
</html>